*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.upper-navbar{
    height: 30px;
    background-color: rgb(189, 8, 44);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-nav-context{
    font-size:12px;
    font-weight: 500;
    margin: 0px 50px 0px 50px ;
    padding: 3px 6px;
}
.upper-nav-context a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
}

.navbar{
    height: 65px;
    background-color: #E40046;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    margin-left: 50px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    height: 35px;;
}


.search-input{
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    width:100%;
    border: none;
}

.search-icon{
    width: 120px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: black;
}
.search-icon i{
    margin-right: 8px;
}

.nav-cart{
    border: 0.5px solid rgb(160, 66, 66);
    height: 65px;
    width: 150px;
    font-size: 15px;
    border-top:none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cart i{
    font-size: 2rem;
}


.nav-sign{
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-sign i{
    margin-left: 15px;
    margin-right: 50px;
    font-size: 2rem;
}

/*MAIN PAGE*/

.nav-cate-items{
    height: 70px;
    margin: 10px 50px;
    border-top: 2px dotted rgb(139, 138, 138);
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    align-items: center;
    
}
.nav-items img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
    transition-duration: 1s ;
}
.nav-items img:hover{
    transform: scale(1.1);
}
.nav-items span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
}


.hero-section{
    margin-top: 10px;

}
.hero-section img{
    width: 1375px;
    height: 390px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    margin-bottom: 10px;
    object-fit:cover;
}

.delivery{
    margin:10px;
    border: 1px solid rgb(68, 67, 67);
    border-radius: 1rem;
    background-color:rgb(247, 240, 240);
}
.delivery img{
    height:75px;
    width: 1353px;
    border-radius: 1rem;
    object-fit: cover;

}

h1{
    text-align: center;
    margin: 20px 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

.shoping{
    height: 270px;
    display: flex;
    justify-content: space-evenly;
}

.shoping-category{
    margin: 15px 20px;     
}

.shoping-category img{
    height:300px;
    width: 220px;
    object-fit: cover;
}

.shoping-category img:hover{
    box-shadow: 2px 3px 5px rgb(82, 81, 81);
}

.hero-section2{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.hero-section2 img{
    height:270px;
    width: 1345px;
    border-radius: 1rem;
    border: 1px solid black;
    object-fit: cover;
}

.new{
    height: 2.5px;
    margin: 0;
}


.arrivals{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.arrival-category{
    margin: 10px 15px;
}

.arrival-category img{
    height: 245x;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition-duration: 2s ease;
}

.arrival-category img:hover{
    box-shadow: 2px 3px 5px rgb(110, 109, 109);
}

.hero-section3{
    margin: 25px 15px;
}

.hero-section3 img{
    border: 1px solid black;
    border-radius: 16px;
    height: 500px;
    width: 1335px;
    object-fit:cover ;
}

.product{
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-items{
    height: 430px;
    width: 265px;
    margin: 5px;
}

.product-img img{
    height: 330px;
    width: 250px;
    margin: 5px;
}

.product-img img:hover{
    box-shadow: 2px 3px 5px rgb(137, 136, 136);
    border-radius: 10px;
}

h3{
    font-size: 15px;
    color: #2B2B2B;
    font-family: sans-serif;
    font-weight: 100;
    margin-left: 5px;
    
}
.product-price{
    margin: 5px;
}

.owner{
    margin-top: 7px;
}

.owner i{
    font-size: 14px;
}
.price{
    color: #000000;
    font-weight: 700;
    font-style: bold;
    font-family: sans-serif;
}

.disc-price{
    color: #999999;
    margin-left: 4px;
    text-decoration: line-through;
}

.discount{
    color:#c69532;
    margin-left: 5px;
    font-weight: 700;
}

.people{
    margin-top: 7px;
}

.people i{
    color: rgb(95, 210, 95);
    margin-right: 5px;
    font-size: 14px;
}
.rating{
    color: #000000;
    font-weight: 700;
    font-size: 15px;
}

.total-member{
    color: #666666;
    margin-left: 3px;
    font-size: 14px;
}

.btn{
    height: 70px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn button{
    height: 50px;
    width: 340px;
    background-color: #ee204e;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 18px;
}

.info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.info-category h2{
    color: #444444;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
}

.info-category p{
    color: #666666;
    margin-bottom: 8px;
    font-size: 12px;
}

.info-category p:hover{
    color: rgb(236, 34, 34);
    text-decoration: underline;
    cursor: pointer;
}

.payment-info{
    height: 130px;
    border:1px solid rgb(209, 201, 201);
    border-left:none;
    border-right: none;
    margin: 30px 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.payment{
    height:80px;
    width: 380px;
}

.payment p{
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0px 0px 10px;
}

.payment img{
    height: 45px;
    width: 350px;
    margin-top: 12px;
    margin-left: 10px;
}

.connect{
    height: 80px;
    width: 550px;
    object-fit: cover;
}

.connect p{
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0px 0px 15px;
}

.connect img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 18px 0px 0px 15px;
    transition-duration: 0.5s;
}

.connect img:hover{
    transform: scale(1.2);
    cursor: pointer;
}


